@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
// БАЗОВЫЕ НЕИЗМЕНЯЕМЫЕ СТИЛИ
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
}

$pale: #e9dabe;
$crimzon: #cc2121;

.text-light {
  color: $pale;
}
.text-white {
  color: white;
}
.header1 {
  text-align: center;
  margin-bottom: 28px;
}

button {
  border: none;
  cursor: pointer;
  transition-property: all;
  transition: all ease 0.2s;
}
button:hover {
  transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 22px 3px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 22px 3px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 22px 3px rgba(255, 255, 255, 1);
  transition: 0.2s;
}

a {
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 36px;
}

//==========================================================ДЕСКТОП 1440px

// Контенйер
.container {
  width: 1020px;
  margin: 0 auto;
  height: 100%;
  // outline: 1px rgb(163, 163, 163) solid;
}

// -------------------------ШАПКА
.burger-menu {
  display: none;
}
header {
  background-color: #201917;
  height: 80px;
  position: fixed;
  width: 100%;
  .container {
    height: 100%;
    display: grid;
    grid-template-columns: auto 200px auto;
    grid-template-rows: 100%;
    justify-items: center;
    align-items: center;

    .header__logo-block {
      border-radius: 0 0 100px 100px;
      width: 200px;
      height: 140px;
      background: rgb(233, 218, 190);
      // overflow: hidden;
      position: relative;
      img {
        position: absolute;
        width: 160px;
        top: 31px;
        left: 20px;
      }
    }
    .header__menu {
      display: flex;
      gap: 30px;
      a {
        color: $pale;
      }
    }
  }
}

// -------------------------БАННЕР
.banner {
  height: 763px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../media/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 80px;

  .banner__text {
    margin-top: 20%;
    width: 50%;
    h1 {
      font-size: 34px;
      margin-bottom: 40px;
    }
    p {
      font-size: 24px;
    }
  }
}

// -------------------------ПОПУЛЯРНЫЕ
.popular {
  background-color: $pale;
  .container {
    padding: 28px 0 84px 0;
  }
  .popular__tour-line {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    .tour {
      height: 100%;
      width: 328px;
      .tour-image {
        width: 100%;
        background-color: #acacac;
        height: 250px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .tour__name {
        margin: 5px 0;
      }
      .tour__learnmore-btn {
        margin-top: 10px;
        width: 100%;
        height: 50px;
        background-color: $crimzon;
        color: white;
        font-size: 24px;
      }
    }
  }
}
// -------------------------ОБ ЭКСКУРСИЯХ
.about-tours {
  background-color: #201917;
  color: $pale;
  height: 600px;
  .container {
    padding: 28px 0 84px 0;
  }
  .about__facts-line {
    align-items: center;
    height: 100%;
    display: flex;
    justify-content: space-between;
    // grid-template-columns: repeat(4, 245px);
    // grid-auto-rows: 325px;
    // outline: #cc2121 1px solid;

    .fact {
      text-align: center;
      height: 325px;
      width: 250px;
      .fact__icon {
        // background-color: $pale;
        width: 155px;
        height: 155px;
        border-radius: 100%;
        margin: 0 auto;
      }
      .fact__name {
        margin: 25px 0 10px 0;
      }
    }
  }
}

// -------------------------ОБРАТНАЯ СВЯЗЬ
.askform {
  height: 500px;
  background-color: $pale;
  padding: 77px 0;
  .askform__block {
    background-color: #201917;
    padding: 47px 68px;
    display: flex;
    gap: 50px;
    align-items: center;
    height: 356px;
    form {
      input,
      button {
        border: none;
        width: 100%;
        margin-bottom: 10px;
        height: 50px;
        text-align: center;
        font-size: 24px;
      }
      input {
        background-color: white;
        color: #201917;
      }
      button {
        background-color: black;
        color: white;
      }
    }
    .form__text {
      color: $pale;
      font-size: large;
      text-align: center;
      h1 {
        font-size: 36px;
        margin-bottom: 10px;
      }
      p {
        font-size: 24px;
      }
    }
  }
}

// --------------------------ПОДВАЛ
.footer {
  height: 310px;
  background-color: black;
  color: $pale;
  padding: 64px 0px;
  .footer-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    // row-gap: 36px;
    grid-template-areas:
      "Socials Contact"
      "Copy Contact";
    .footer__socials {
      grid-area: Socials;
      align-self: self-start;
    }
    .footer__contacts {
      grid-area: Contact;
      text-align: right;
      font-size: 20px;
    }
    .footer__copyright {
      grid-area: Copy;
      text-align: left;
      align-self: self-end;
      font-size: 20px;
    }
  }
}

//================================================================ДЕСКТОП 1240
@media (max-width: 1240px) {
  .container {
    width: 1020px;
  }
}

//================================================================ДЕСКТОП 767
@media (max-width: 767px) {
  .container {
    width: 650px;
  }

  // -------------------------ХЕДЕР
  .burger-menu {
    display: block;
  }
  header .container {
    justify-items: start;
  }

  .header__menu li {
    display: none;
  }

  // -------------------------БАННЕР
  .banner {
    height: 600px;

    .banner__text {
      width: 70%;
      h1 {
        font-size: 30px;
        margin-bottom: 30px;
      }
      p {
        font-size: 20px;
      }
    }
  }

  // -------------------------ПОПУЛЯРНЫЕ
  .popular {
    .popular__tour-line {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      justify-content: center;
      .tour {
        height: 460px;
        max-width: 320px;
        .tour__learnmore-btn {
          height: 45px;
        }
      }
    }
  }

  // -------------------------ОБ ЭКСКУРСИЯХ
  .about-tours {
    height: auto;
    .container {
      padding: 60px 0 84px 0;
    }
    .about__facts-line {
      flex-wrap: wrap;
      gap: 50px;
      justify-content: space-around;
    }
  }

  // -------------------------ОБРАТНАЯ СВЯЗЬ
  .askform {
    height: auto;
    padding: 77px 0;
    .askform__block {
      background-color: #201917;
      padding: 47px 68px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;
      gap: 50px;
      align-items: center;
      height: auto;
      form {
        input,
        button {
          border: none;
          width: 100%;
          margin-bottom: 10px;
          height: 50px;
          text-align: center;
          font-size: 24px;
        }
        input {
          background-color: white;
          color: #201917;
        }
        button {
          background-color: black;
          color: white;
        }
      }
      .form__text {
        color: $pale;
        font-size: large;
        text-align: center;
        h1 {
          font-size: 36px;
          margin-bottom: 10px;
        }
        p {
          font-size: 24px;
        }
      }
    }
  }
}
