header
  .container
    ul.left(class="header__menu")
      img.burger-menu(
        alt="burger menu" 
        src="/assets/media/burger-menu.svg"
      )
      li
        a(href="./catalog.html") Каталог экскурсий
      li
        a(href="./videos.html") Видео
    div(class="header__logo-block")
      a(href="./main-page.html")
        img(
          alt="logo" 
          src="./assets/media/ЛОГО.png"
        )
    ul.right(class="header__menu")
      li
        a(href="./ask-form.html") Обратная связь
      li
        a(href="./contacts.html") Контакты